# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# IDE/Editor configuration folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata files
.DS_Store
Thumbs.db

# TypeScript build cache
*.tsbuildinfo
